body {
    background-color: #FFFCF2;
}

.main-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sub-container-1 {
    background-color: #ebe8e2;
    height: 400px;
    width: 400px;
    margin-top: 60px;
    border-radius: 10px;
    padding-top: 50px;
    position: relative;
}

.title {
    margin-left: 140px;
    margin-bottom: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-name {
    margin-left: 25px;
    margin-bottom: 4px;
    font-size: 13px;
}

.sample-page {

    height: 300px;

}

.name-text {
    margin-left: 100px;
}

.last-name {
    height: 25px;
}

.email-text {
    margin-left: 25px;
    margin-bottom: 4px;
    font-size: 13px;
}

.email-text1 {
    margin-left: 25px;
    width: 343px;
    height: 25px;
}

.button {
    margin-top: 37px;
    width: 347px;
    height: 30px;
    border-radius: 15px;
    background-color: #776549;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    box-shadow:2px 2px 2px gray ;
}
.button:hover{
    box-shadow:2px 2px 5px 1px gray;
    background-color:#584931 ;
}
.images{
    position:absolute;
    width: 42px;
    height:35px ;
    top:-20px;
    border-radius:50% ;
 

}
.img-1{
   margin-left: 210px;
}
.img-2{
    margin-left:180px ;
}
.img-3{
    margin-left:150px ;
}
.sub-container-2 {
    background-color: #ebe8e2;
    height: 400px;
    width: 400px;
    margin-top: 60px;
    border-radius: 10px;
    padding-top: 20px;
 
}
.location{
    width: 17px;

}
.sample-page-2{

    height: 400px;
    width: 300px;
    margin-left: 20px;
   
}
.location-logo{
    text-decoration: none;
    color: black;
    align-items: center;
    margin-bottom: 20px;
}
.info-task{
    margin-bottom: 10px;
}



