body{
    background-color:#FFFCF2 ;
}
.container{
    display:flex;
    flex-direction:row;
   justify-content:space-around;
}
.sub-container-1{
    background-color:#f3eedc;
    height: 500px;
    width: 400px;
    margin-top: 30px;
    border-radius: 10px;
}