
body{
    margin:0;
    padding: 0;
    background-color: #E3D4B9;
}
.book-container{
    display:flex;
    gap:30px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
.book-card{
    background-color: lightyellow;
    width: 180px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px grey;
}
.book-card:hover{
    transform: translateY(-4px);
}
.book-card img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 6px;
}
.book-title{
    font-size: 16px;
    margin-top: 8px;
}
.book-author{
    font-size: 13px;
}
.price{
    font-size: 15px;
    margin:8px  0;
}
.button {
    background-color: #4b3D2D; 
    color:white;
    font-size: 13px;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button a{
    text-decoration: none;
    color: white;
}

.button:hover{
    background-color:#e3b785;
}
.footer{
    margin: 0;
    text-align: center;
    padding: 15px 15px;
    margin-top: 20px;
}